<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AUWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47ED9FA11E5AB5FE00EF9ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47ED9FB71E5AB5FE00EF9ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47ED9FC21E5AB5FE00EF9ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
